@font-face {
    font-family: 'JuliaMono';
    /*a name to be used later*/
    src: url('assets/webfonts/JuliaMono-Regular.woff2');
    /*URL to font*/
}

/* Use the JuliaMono glyph to show Julia dots here */
.juliadots {
    font-family: 'JuliaMono';
    font-size: 1.0rem;
}